@import 'tailwindcss/base';
/* @import "./custom-base-styles.css"; */

@import 'tailwindcss/components';
/* @import "./custom-components.css"; */

@import 'tailwindcss/utilities';
/* @import "./custom-utilities.css"; */

@layer components {
  .heading {
    @apply break-after-avoid font-semibold text-black;
    /* @apply break-after-avoid font-extrabold tracking-[0.02rem] text-neutral-50; */
  }

  .link {
    @apply underline underline-offset-[3px] decoration-[2px] decoration-neutral-900 hover:decoration-rose-500;
    /* @apply flex-none underline underline-offset-[2px] decoration-[2px] decoration-neutral-900 hover:decoration-rose-500 hover:bg-rose-500 hover:text-neutral-50; */
    text-decoration-skip-ink: none;
    /* @apply text-neutral-50 underline underline-offset-4 decoration-[3px] decoration-rose-400 hover:decoration-neutral-50; */

    /* background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
      linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 120% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover {
      background-size: 0 3px, 100% 3px;
    } */
  }

  .link-inverted {
    @apply link decoration-rose-500 hover:decoration-neutral-950;
  }

  .link-top-nav {
    @apply link decoration-transparent decoration-[3px] underline-offset-[3px];
  }

  .link-subtle {
    @apply link underline-offset-2 decoration-auto;
  }

  .list {
    @apply mt-4 ps-8;
  }

  .list-item {
    @apply mt-1;
  }

  .timestamp {
    @apply text-sm uppercase;
  }

  .markdown {
    & h1 {
      @apply heading mb-8 text-4xl leading-[1.1];
    }
    & h2 {
      @apply heading mt-8 text-[1.55rem];
    }
    & h3 {
      @apply heading mt-4 text-2xl;
    }
    & h4 {
      @apply heading mt-4 text-xl;
    }
    & h5 {
      @apply heading mt-4 text-lg;
    }
    & h6 {
      @apply heading mt-4 text-base;
    }

    & p {
      @apply mt-4;

      & + ul,
      & + ol {
        @apply mt-3;
      }
    }

    & a {
      @apply link;
    }

    & ul {
      @apply list list-disc;
    }

    & ol {
      @apply list list-decimal;
    }

    & li {
      @apply mt-1;

      & > ul,
      & > ol {
        @apply mt-0;
      }
    }

    & code {
      @apply rounded-sm bg-neutral-800 box-decoration-clone py-0.5 px-1 text-base text-rose-300;
    }

    & pre {
      @apply mt-4 rounded-sm overflow-x-scroll bg-neutral-800 py-2 px-3;
    }
  }
}
